HOST_REPO_ROOT=/home/zz/HongTu/robot_snapshots/HongTu_from_G1_2026-04-16
HOST_INTERRUPT_DIR=/home/zz/HongTu/robot_snapshots/HongTu_from_G1_2026-04-16/interrupt
HOST_INTERRUPT_ENV_FILE=/home/zz/HongTu/robot_snapshots/HongTu_from_G1_2026-04-16/interrupt/.env.local
HOST_OLLAMA_DIR=/home/zz/.ollama

LIVEKIT_BIND_ADDRESS=0.0.0.0
LIVEKIT_NODE_IP=192.168.100.48
LIVEKIT_RTC_NODE_IP_IPV4=192.168.100.48
LIVEKIT_RTC_FORCE_TCP=false
LIVEKIT_RTC_ALLOW_TCP_FALLBACK=true
