<launch>
  <!-- Map server -->
  <arg name="map_file" default="$(find ros_map_edit)/map/test6.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- RViz with map editing configuration -->
  <arg name="rvizconfig" default="$(find ros_map_edit)/config/map_edit.rviz"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" output="screen"/>

  <!-- Static transform for map frame -->
  <node name="map_tf_broadcaster" pkg="tf2_ros" type="static_transform_publisher" 
        args="0 0 0 0 0 0 map odom"/>

</launch> 
